body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #fff;
}

header {
    background-color: #f8b7c0;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 1%;
}

.logo {
    text-align: center;
    margin-left: 600px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 14%;
    margin-top: -6.5%;
    padding: 0;
}

nav ul li {
    margin-right: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 62%;
    margin-top: 0.5%;
    border-radius: 25%;
}

.search-bar input {
    padding: 5px;
    border-radius: 25px;
    border-color: #ffffff00;
}

.search-bar button {
    background-color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 25%;
}

main {
    padding: 20px 15%;
}

h1 {
    color: #f8b7c0;
}

.answer, .comment {
    background-color: #3c3c3c;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.question {
    background-color: #707070 !important;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.question .post-header, .answer .user, .comment .user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
}

.user-role {
    color: #a88f8f;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.answer-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.answer-section textarea {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
}

.answer-section button {
    padding: 10px 20px;
    background-color: #f8b7c0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.comment-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.comment-section input {
    flex: 1;
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
}

.comment-section button {
    padding: 10px 20px;
    background-color: #f8b7c0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.rounded-input {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #3c3c3c;
    color: #fff;
}

